@model MvcLibrary.Models.User

@{
    ViewData["Title"] = "User Details";
}

<h1>User Details</h1>
<hr />
<dl class="row">
    <dt class="col-sm-3">Login</dt>
    <dd class="col-sm-9">@Model.Login</dd>

    <dt class="col-sm-3">First Name</dt>
    <dd class="col-sm-9">@Model.FirstName</dd>

    <dt class="col-sm-3">Last Name</dt>
    <dd class="col-sm-9">@Model.LastName</dd>

    <dt class="col-sm-3">Is Admin</dt>
    <dd class="col-sm-9">
        <input type="checkbox" disabled @(Model.IsAdmin ? "checked" : "") />
    </dd>
</dl>

<p>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</p>
