@model MvcLibrary.Models.Borrowing

@{
    ViewData["Title"] = "Borrowing Details";
}

<h1>Borrowing Details</h1>
<hr />
<dl class="row">
    <dt class="col-sm-3">User</dt>
    <dd class="col-sm-9">@Model.User?.Login</dd>

    <dt class="col-sm-3">Book</dt>
    <dd class="col-sm-9">@Model.Volume?.Book?.Title</dd>

    <dt class="col-sm-3">Inventory #</dt>
    <dd class="col-sm-9">@Model.Volume?.InventoryNumber</dd>

    <dt class="col-sm-3">Borrowed At</dt>
    <dd class="col-sm-9">@Model.BorrowedAt.ToString("yyyy-MM-dd")</dd>

    <dt class="col-sm-3">Returned At</dt>
    <dd class="col-sm-9">@Model.ReturnedAt?.ToString("yyyy-MM-dd") ?? "-"</dd>
</dl>

<a asp-action="Index" class="btn btn-secondary">Back to List</a>
